.main-baner__link {
  width: 100%;
  min-height: 220px;
  background-image: url(../img/baner1.jpg);
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
}

.main-baner {
  margin-bottom: 15px;
}
