.main-baner__link {
  width: 100%;
  display: flex;
  min-height: 220px;
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.main-baner {
  margin-bottom: 15px;
}
