.document-first {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  background: $bg--main;
  height: 100%;
}

.document-box {
  padding: 25px 40px 0 20px;
  background: $bg--main;
}

// .document-top__search {
//   max-width: 240px;
// }

.document-select {
  display: flex;
  align-items: baseline;
}

.document-select__name {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: $color-text--blue;
  margin-right: 40px;
}

.document-top {
  display: flex;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.document-body__item {
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid $play-border;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.document-coll__name {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color-text--blue;
  max-width: 460px;
}

.document-coll__date {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: $color-text;
}

.document-coll__download {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $color-text;

  &:hover {
    color: $color-text--blue;
    text-decoration: underline;
  }
}

.document-coll {

  p {
    margin: 0;
  }

  &:nth-child(1) {
    width: 5%;
  }

  &:nth-child(2) {
    width: 50%;
  }

  &:nth-child(3) {
    width: 15%;
    text-align: center;
  }

  &:nth-child(4) {
    width: 15%;
    text-align: center;
  }
}

.document-body .alm-btn-wrap {
  margin-top: 15px;
}

