.document-first {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
  background: $bg--main;
  height: 100%;
}

.document-box {
  padding-top: 25px;
  background: $bg--main;
  height: 100%;
}

.document-body__item {

}
