.aside-news--galery {
  min-height: 643px;
}

.search-filter {
  position: relative;
  margin-bottom: 20px;
}

.search-filter__input {
  height: 38px;
  position: relative;
  border: 2px solid $play-border;
  padding: 0 30px 0 12px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: $color-text--blue;

  &::placeholder {
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: $color-text--blue;
  }
}

.search-filter__btn {
  position: absolute;
  display: flex;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
}

.calendar-filter__fild {
  border: none;
  padding: 0;
}

.calendar-filter__legend {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: $color-text;
  margin-bottom: 5px;
}

.calendar-filter__fild + .calendar-filter__fild {
  margin-top: 20px;
}

.calendar-filter__input {
  height: 20px;
  border: none;
  padding-bottom: 5px;
  border-bottom: 2px solid $play-border;

  &::placeholder {
    font-family: $font-family--alt;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: $color-text;
  }
}

.calendar-filter {
  margin-bottom: 15px;
}

.galery-filter__btn {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: $color-text--blue;
  padding: 0;

  &--confirm {
    border: 2px solid $play-border;
    font-weight: bold;

    &:hover {
      color: $color-text--rev;
      background: $bg--hover-item;
    }
  }
}

.galery-box__title {
  padding-left: 24px;
  margin-bottom: 12px;
}

.galery-box--page {
  padding-top: 20px;
  padding-bottom: 30px;
}

.galery-sliders {
  display: flex;
  justify-content: space-between;

  .slick-list {
    height: 100% !important;
  }
}

.galery-main__image, .slider-main__slide {
  display: flex !important;
}

.slider-main {
  max-width: 876px;
}

.galery-nav {
  max-width: 170px;

  .slick-list {
    height: 100%;
  }
}

.galery-nav__slide + .galery-nav__slide {
  margin-top: 10px;
}

.galery-nav__slide {
  cursor: pointer;
}

.galery-second__item {
  max-width: 514px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
}

.galery-second__box {
  padding-top: 18px;
  background: $bg--main;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 50px;
}

.galery-second__link {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: $color-text--blue;

  &:hover {
    text-decoration: underline;
  }
}

.galery-second__info {
  padding: 25px 10px 12px 25px;
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.galery-second__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.galery-second__autor {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.galery-second__date {
  font-family: $font-family--alt;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.galery-second {
  background: $bg--main;
  padding-bottom: 80px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}



