.galery-sec {
  background-color: $bg--main;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  margin-bottom: 15px;
}

.galery-box {
  padding-top: 20px;
  background-color: $bg--main;
}

.galery-box__slider {
  display: flex;
  gap: 20px;
}

.slider-inner__list,
.slider-inner {
  height: 100% !important;
}

.ns-img {
  .tab-descr {
    min-height: 153px;
  }
  .tab-descr__top {
    margin-bottom: 10px;
  }
  .tab-descr__title {
    width: 100%;
    max-width: 80%;
    font-size: 24px;
    line-height: normal;
    text-align: left;
  }
  .tab-descr__text {
    text-align: left;
  }
  .tab-descr__date {
    font-size: 24px;
    line-height: normal;
    text-align: right;
  }
}

#thumbnail-slider-prev,
#thumbnail-slider-next,
#thumbnail-slider-prev::before,
#thumbnail-slider-next::before  {
  display: none;
}
