.galery-sec {
  background-color: $bg--main;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  margin-bottom: 15px;
}

.galery-box {
  padding-top: 20px;
  background-color: $bg--main;
}

.index-slider__slide {
  position: relative;
  height: 615px !important;

  .tab-descr {
    min-height: 153px;
    position: absolute;
    bottom: 0;
  }

  .tab-descr__top {
    margin-bottom: 10px;
  }

  .tab-descr__title {
    width: 100%;
    max-width: 80%;
    font-size: 24px;
    line-height: normal;
    text-align: left;
  }

  .tab-descr__text {
    text-align: left;
  }

  .tab-descr__date {
    font-size: 24px;
    line-height: normal;
    text-align: right;
  }
}

.index-slider__fancy {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  max-height: 615px;
}

.index-slider {
  max-width: 1150px;
  width: 100%;
}

.index-slider__img,
.index-nav__img {
  display: flex !important;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.galery-box__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.index-slider__image {
  height: 100%;
}

.index-nav {
  max-width: 250px !important;

  .slick-list {
    height: 615px !important;
  }

  .slick-active.slick-current {
    border: 4px solid #F5483A;
  }
}

.index-nav__slide {
  height: 200px !important;
  width: 250px !important;
  margin-bottom: 7px;
}

.galery-box__inner--game {
  .index-slider {
    max-width: 734px;
  }

  .index-slider__slide {
    max-height: 545px;
  }

  .index-nav__slide {
    height: 175px !important;
    width: 189px !important;
    margin-bottom: 10px;
  }

  .index-slider__fancy {
    max-height: 545px;
  }

  .index-nav {
    max-width: 189px !important;

    .slick-list {
      height: 545px !important;
    }
  }
}

.galery-box--game3 {
  padding: 50px 100px 44px 24px;
}

