.galery-sec {
  background-color: $bg--main;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  margin-bottom: 15px;
}

.galery-box {
  padding-top: 20px;
  background-color: $bg--main;
}

.index-slider__slide {
  position: relative;
  height: 615px !important;

  .tab-descr {
    min-height: 153px;
    position: absolute;
    bottom: 0;
  }
  .tab-descr__top {
    margin-bottom: 10px;
  }
  .tab-descr__title {
    width: 100%;
    max-width: 80%;
    font-size: 24px;
    line-height: normal;
    text-align: left;
  }
  .tab-descr__text {
    text-align: left;
  }
  .tab-descr__date {
    font-size: 24px;
    line-height: normal;
    text-align: right;
  }
}

.index-slider__fancy {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

.index-slider {
  max-width: 1150px;
}

.index-slider__img, .index-nav__img {
  display: flex !important;
  height: 100%;
  width: 100%;
}

.galery-box__inner {
  display: flex;
  justify-content: space-between;
}

.index-nav {
  max-width: 250px;

  .slick-current {
    border: 4px solid #F5483A;
  }

  .slick-list {
    height: 100% !important;
  }
}

.index-nav__slide + .index-nav__slide {
  margin-top: 5px;
}

.index-nav__slide {
  width: 250px !important;
}
