header {
  background: $bg--linear;
  margin-bottom: 15px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0 27px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.header-top__title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  font-family: $font-family;
  color: $color-text--rev;
  text-transform: uppercase;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 0 35px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list__item + .nav-list__item {
  margin-left: 35px;
}

.nav-list__item {
  position: relative;
}

.nav-list__item:hover {
  .nav-list__link {
    text-decoration: underline;
  }
}

.nav-list__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  font-family: $font-family;
  color: $color-text--rev;
}

.header-bottom__social {
  svg {
    fill: #fff;
    transition: all .3s;
  }

  &:hover {
    svg {
      opacity: .5;
    }
  }
}

.header-bottom__list {
  display: flex;
  align-items: center;
}

.header-bottom__item + .header-bottom__item {
  margin-left: 25px;
}

.lang-list__link {
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
}

.lang-list__link--active {
  color: #FFFFFF;
  text-decoration: underline;
}

.lang-list__item + .lang-list__item {
  margin-top: 5px;
}

.header-bottom__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 440px;
  width: 100%;
  position: relative;
}

.header-bottom__wrapper {
  display: flex;
  align-items: center;
}

.header-search {
  padding: 0;
}

.search-form {
  position: absolute;
  right: 0;
  background-color:#344050;
  padding: 25px 17px;
  top: 84px;
  z-index: -2;
  opacity: 0;

  &--active {
    z-index: 5;
    opacity: 1;
  }
}

.header-form {
  position: relative;
}

.header-form__input {
  border: none;
  background-color: transparent;
  height: 24px;
  position: inherit;
  border-bottom: 1px solid $white-border;
  font-family: $font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-transform: capitalize;
  color: $color-text--rev;
  padding: 0 10px 3px 20px;
  &::placeholder {
    font-family: $font-family;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-transform: capitalize;
    color: $color-text--rev;
  }
}

.header-form__button {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

