.kinds-sec {
  background: $bg--main;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
  margin-bottom: 25px;
}

.kinds-box__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    transition: all .5s;
    margin-bottom: 7px;
  }
  &:hover svg {
    transform: scale(1.1);
  }
}

.kinds-box__name {
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: $color-text;
}

.kinds-box {
  display: flex;
  height: 950px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 23px 0;
  margin-right: 45px;
  margin-top: 35px;
  position: relative;
}

.kinds-wrapper {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 43px;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.2 4c-.2 0-.4 0-.5-.2L4.5 1.6a.7.7 0 00-1 0L1.3 3.8a.7.7 0 11-1-1L2.5.6a2 2 0 013 0l2.2 2.2A.7.7 0 017.2 4zM5.5 17.4l2.2-2.2a.7.7 0 00-1-1l-2.2 2.2a.7.7 0 01-1 0l-2.2-2.2a.7.7 0 10-1 1l2.2 2.2a2 2 0 003 0zm1-8.4a2.5 2.5 0 10-5 0 2.5 2.5 0 005 0zM5 9a1 1 0 11-2 0 1 1 0 012 0z' fill='%23231F20'/%3E%3C/svg%3E");
    width: 8px;
    height: 60px;
    background-color: #fff;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 10;
  }
}

.kinds-box__item {
  width: fit-content;
}


.kinds-box__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px 90px;
  padding-right: 90px;
}

.kinds-box::-webkit-scrollbar{
  width: 5px;
}


.kinds-box::-webkit-scrollbar-thumb {
  width: 6px;
  background: #27aae1;
  height: 20%;
  border-top: 70px solid transparent;
}

.kinds-box::-webkit-scrollbar-track {
  box-sizing: content-box;

  background: #d0d0d0;
  border: 2px solid #ffffff;
  border-top: 70px solid #fff;
}

