.play-sec {
  margin-bottom: 15px;

  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
}

.play-box {
  position: relative;

  padding: 31px 0 37px;

  background-color: $bg--main;
}

.play-box__body {
  display: flex;
  flex-wrap: nowrap;
  width: 1110px;
  margin: 0 auto;
}

.play-box__link {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  padding: 0 5px;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 1;

    width: 18px;
    height: 18px;

    background-color: $play-border;
    border: 3px solid $white-border;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}

.play-box__item + .play-box__item {
  padding-left: 143px;
}

.play-box__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 43px;
    left: 0;

    height: 2px;

    background-color: $play-border;
  }
}

.play-box__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  max-height: 100px;
  margin-bottom: 5px;
}

.play-box__body {
  position: relative;
  padding-bottom: 15px;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}


.play-box__body::-webkit-scrollbar{
  height: 5px;
  display: none;
}


.play-box__body::-webkit-scrollbar-thumb {
  height: 6px;
  background: #27aae1;
}

.play-box__body::-webkit-scrollbar-track {
  box-sizing: content-box;

  background: #d0d0d0;
  border: 2px solid #ffffff;
}

.play-box__btn {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background: $bg--linear;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(222, 50, 42, 0.7);
  transform: translateY(-50%);
}

#next {
  right: 46px;
}

#prev {
  left: 46px;
}

.play-box__title {
  min-height: 60px;
  margin-bottom: 45px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  font-family: $font-family;
  text-align: center;
  color: $color-text;
  text-transform: uppercase;
}

.play-box__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  font-family: $font-family;
  text-align: center;
  color: $color-text;
  text-transform: uppercase;
}

.play-sec1 {
  background: $bg--main;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}


.game-geo__item {
  width: 240px;
  min-height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $bg--main;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}

.game-geo__image {
  width: 100%;
  display: flex;
}

.game-geo {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}

.game-table {
  padding: 40px 0;
}

.game-table__box {
  max-width: 860px;
  margin: 0 auto;
  background-color: $bg--main;
}

.table-top {
  padding: 29px 34px 29px;
  background: #F4F4F4;
}

.table-top__row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.table-top__coll {
  max-width: 167px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &:last-child {
    max-width: 205px;
    width: 100%;
  }

  svg {
    margin-right: 10px;
  }
}

.table-top__name {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-text;
}

.game-table__image {
  max-width: 16px;
  width: 100%;
}

.game-table__name,
.game-table__value {
  font-family: $font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color-text;
}


.game-table__coll {
  max-width: 167px;
  padding: 17px 0;
  display: flex;
  justify-content: center;
  width: 100%;
  border-right: 2px solid #F4F4F4;

  &:last-child {
    max-width: 205px;
    width: 100%;
    border: none;
  }

  &:first-child {
    max-width: 120px;
    width: 100%;
  }

  .game-table__image {
    margin-right: 23px;
  }
}

.game-table__row {
  display: flex;
  padding: 0px 20px 0px 0px;
  align-items: center;
  justify-content: space-between;
}

.medals-top {
  display: flex;
  justify-content: space-between;
  padding: 32px 8px 32px 20px;
  background: #F4F4F4;
}

.medals-box {
  max-width: 860px;
  padding: 40px 0;
  margin: 0 auto;
}

.medals-body {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}

.medals-body__item {
  padding: 14px 20px;
  max-width: 250px;
  width: 100%;
  min-height: 400px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.35);
}
