.play-sec {
  margin-bottom: 15px;

  box-shadow: 0 0 14px rgba(0, 0, 0, 0.35);
}

.play-box {
  position: relative;

  padding: 31px 0 37px;

  background-color: $bg--main;
}

.play-box__body {
  display: flex;
  flex-wrap: nowrap;
  width: 1110px;
  margin: 0 auto;
}

.play-box__link {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  padding: 0 5px;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 35px;
    left: 50%;
    z-index: 1;

    width: 18px;
    height: 18px;

    background-color: $play-border;
    border: 3px solid $white-border;
    border-radius: 50%;
    transform: translateX(-50%);
  }
}

.play-box__item + .play-box__item {
  padding-left: 143px;
}

.play-box__item {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 43px;
    left: 0;

    height: 2px;

    background-color: $play-border;
  }
}

.play-box__image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 110px;
  max-height: 100px;
  margin-bottom: 5px;
}

.play-box__body {
  position: relative;
  padding-bottom: 15px;

  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}


.play-box__body::-webkit-scrollbar{
  height: 5px;
  display: none;
}


.play-box__body::-webkit-scrollbar-thumb {
  height: 6px;
  background: #27aae1;
}

.play-box__body::-webkit-scrollbar-track {
  box-sizing: content-box;

  background: #d0d0d0;
  border: 2px solid #ffffff;
}

.play-box__btn {
  position: absolute;
  top: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;

  background: $bg--linear;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(222, 50, 42, 0.7);
  transform: translateY(-50%);
}

#next {
  right: 46px;
}

#prev {
  left: 46px;
}

.play-box__title {
  min-height: 60px;
  margin-bottom: 45px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  font-family: $font-family;
  text-align: center;
  color: $color-text;
  text-transform: uppercase;
}

.play-box__date {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  font-family: $font-family;
  text-align: center;
  color: $color-text;
  text-transform: uppercase;
}

