.select {
  position: relative;
  width: 150px;
  transition: all .4s;
  height: 30px;
}


.select.is-active .select__body {
  max-height: 500px;
  height: auto;
}

.select.is-active {
  .select__icon {
    transform: scaleY(-1);
  }
}

.select__header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.select__current {
  font-family: $font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: $color-text--blue;
}

.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  height: 40px;
  margin-left: auto;
  text-align: center;
  width: 40px;

  svg {
    fill: $color-text--blue;
  }
}

.select__body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 20;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  margin-top: 10px;
}

.select__item {
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  font-size: 24px;
  color: $color-text--blue;
  padding: 8px;
  cursor: pointer;
}

.select__wrapp {
  border: 2px solid #000;
  border-radius: 5px;
  background-color: #fff;
  width: 100%;
}

.select__item:hover {
  background-color: #f2f2f2;
}
