.select {
  position: relative;

  width: 190px;
  height: 40px;

  transition: all 0.4s;
}


.select.is-active .select__body {
  height: auto;
  max-height: 260px;
}

.select.is-active {
  .select__icon {
    transform: scaleY(-1);
  }
}

.select__header {
  display: flex;
  align-items: center;
  padding: 0 8px 0 32px;
  cursor: pointer;
}

.select__current {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  font-family: $font-family;
  color: $color-text--blue;
}

.select__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;

  text-align: center;

  svg {
    fill: $color-text--blue;
  }
}

.select__body {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 20;
  background-color: #01499B;
  max-height: 0;
  overflow: hidden;
}

.select__item {
  padding: 10px 0 0;
  font-family: $font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;

  &:first-child {
    padding: 0;
  }
}

.select__wrapp {
  width: 93.5%;
  overflow-y: scroll;
  max-height: 210px;
  padding: 0 0 0 32px;
  margin-top: 14px;
  margin-bottom: 30px;
}

// .select__item:hover {
//   background-color: #f2f2f2;
// }

.select.is-active {
  .select__header {
    background: #01499B;
  }
  .select__icon {
    svg {
      fill: #fff;
    }
  }
  .select__current {
    color: #fff;
  }
}



.select__wrapp::-webkit-scrollbar-track {
  box-sizing: content-box;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #01499B;
}

.select__wrapp::-webkit-scrollbar{
  width: 5px;
}


.select__wrapp::-webkit-scrollbar-thumb {
  width: 6px;
  background:  #FFFFFF;
  height: 20%;
}
