.select {
  position: relative;

  width: 150px;
  height: 30px;

  transition: all 0.4s;
}


.select.is-active .select__body {
  height: auto;
  max-height: 500px;
}

.select.is-active {
  .select__icon {
    transform: scaleY(-1);
  }
}

.select__header {
  display: flex;
  align-items: center;

  cursor: pointer;
}

.select__current {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  font-family: $font-family;
  color: $color-text--blue;
}

.select__icon {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: auto;

  text-align: center;

  svg {
    fill: $color-text--blue;
  }
}

.select__body {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 20;

  max-height: 0;
  margin-top: 10px;
  overflow: hidden;

  transition: max-height 0.2s ease-out;
}

.select__item {
  padding: 8px;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: $color-text--blue;

  cursor: pointer;
}

.select__wrapp {
  width: 100%;

  background-color: #ffffff;
  border: 2px solid #000000;
  border-radius: 5px;
}

.select__item:hover {
  background-color: #f2f2f2;
}
