/* Visit http://www.menucool.com/responsive-slider for instructions */

#ninja-slider {
  box-sizing: border-box;
  width: 1154px;
  // margin: 0 auto;
  padding: 0;
  overflow: hidden;

  background: #333333;
}

#ninja-slider.fullscreen {
  background: black;
}

#ninja-slider div.fs-icon {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  opacity: 0;
}

#ninja-slider .slider-inner:hover div.fs-icon,
#ninja-slider.fullscreen div.fs-icon {
  opacity: 1;
}

// #ninja-slider div.fs-icon::before {
//   content: "";

//   display: block;
// }

// #ninja-slider.fullscreen div.fs-icon::before {
//   content: "Свернуть";
// }

#ninja-slider .slider-inner {
  position: relative;

  box-sizing: border-box;
  // margin: 0 auto;/*center-aligned */

  font-size: 0;
}

#ninja-slider.fullscreen .slider-inner {
  width: 100%;
  max-width: 95vw;

}

#ninja-slider ul {
  /*width:100%;*/
  /*overflow:hidden;*/
  position: relative;

  box-sizing: border-box;
  padding: 0;

  list-style: none;

  touch-action: pan-y;
}

#ninja-slider li {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;

  list-style: none;
  font-size: 12px;

  opacity: 0;
}

#ninja-slider li.ns-show {
  opacity: 1;
}


/* --------- slider image ------- */
#ninja-slider .ns-img {
  position: absolute;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;/*Note: If transitionType is zoom, it will be overridden to cover.*/
  /*decorate border*/
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.8), inset 0 0 2px rgba(255, 255, 255, 0.4);
  cursor: default;
}


/* ---------If there are videos ------- */
#ninja-slider .video,
.video-playbutton-layer {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  text-align: center;

  background: black;
  border: 0;
}

/* And if you have added the HTML: <div class="video-playbutton-layer"></div> */
.video-playbutton-layer {
  background: transparent url(../css-img/video.png) no-repeat center center;
}

/* And if you have YouTube or Vimeo */
#ninja-slider div.stopVideoIcon {
  position: absolute;
  top: 0;
  right: 0;

  width: 30px;
  height: 30px;
  margin: 0 0 6px 6px;

  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 4px;
  cursor: pointer;
}

#ninja-slider div.stopVideoIcon::before {
  content: "+";

  display: block;

  font: bold 30px/30px arial;
  color: white;

  transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ---------Arrow buttons ------- */
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */
#ninja-slider-pause-play {
  display: none;
}

#ninja-slider-prev,
#ninja-slider-next {
  position: absolute;
  top: 50%;
  z-index: 10;

  display: inline-block;
  width: 42px;
  height: 56px;
  margin-top: -28px;
  overflow: hidden;

  font-size: 13px;
  line-height: 56px;
  font-family: sans-serif;
  color: white;
  white-space: nowrap;

  background-color: rgba(0, 0, 0, 0.4);
  background-color: #ccc\9;/*IE8 hack*/
  border-radius: 2px;
  backface-visibility: hidden;
  cursor: pointer;
  opacity: 0.3;

  transition: all 0.7s;
  transition: all 0.7s;

  user-select: none;
  user-select: none;
}

#ninja-slider-prev:hover,
#ninja-slider-next:hover {
  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-prev:hover,
#ninja-slider.fullscreen #ninja-slider-next:hover {
  width: 90px;
}

#ninja-slider-prev {
  left: 0;
}

#ninja-slider-next {
  right: 0;
}

#ninja-slider.fullscreen #ninja-slider-prev {
  left: -50px;

  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-next {
  right: -50px;

  opacity: 1;
}

/*pagination within the prev/next buttons*/
#ninja-slider-prev div {
  margin-left: 30px;

  opacity: 0;

  transition: opacity 0.7s;
}

#ninja-slider-next div {
  margin-right: 30px;

  opacity: 0;

  transition: opacity 0.7s;
}

#ninja-slider.fullscreen #ninja-slider-prev:hover div {
  opacity: 1;
}

#ninja-slider.fullscreen #ninja-slider-next:hover div {
  opacity: 1;
}
/* arrows */
#ninja-slider-prev::before,
#ninja-slider-next::before {
  content: "";
  position: absolute;
  top: 17px;

  display: inline-block;
  width: 20px;
  height: 20px;

  border-top: 2px solid white;
  border-left: 2px solid white;
}

#ninja-slider-prev::before {
  left: 14px;

  transform: rotate(-45deg);
  transform: rotate(-45deg);/*IE 9*/
  transform: rotate(-45deg);
  backface-visibility: hidden;
}

#ninja-slider-next::before {
  right: 14px;

  transform: rotate(135deg);
  transform: rotate(135deg);/*IE 9*/
  transform: rotate(135deg);
  backface-visibility: hidden;
}



/*------ pager(nav bullets) ------*/
/* The pager id should be: slider id + "-pager" */

#ninja-slider-pager {
  display: none;
}


#ninja-slider-pager,
#ninja-slider-prev,
#ninja-slider-next,
#ninja-slider-pause-play {
  user-select: none;
  user-select: none;

  -webkit-touch-callout: none;
}
